<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Search</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="background">
    <div class="search-container">
      <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="The Beatles">
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
  </div>
</body>
</html>
